In [5]:
import pandas as pd
df = pd.read_csv('spam_ham_dataset.csv')

In [6]:
df.head()

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\nth...          0
1   ham  Subject: hpl nom for january 9 , 2001\n( see a...          0
2   ham  Subject: neon retreat\nho ho ho , we ' re arou...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\nthis deal is to ...          0

In [7]:
df.columns

Index(['label', 'text', 'label_num'], dtype='object')

In [9]:
df.head()

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\nth...          0
1   ham  Subject: hpl nom for january 9 , 2001\n( see a...          0
2   ham  Subject: neon retreat\nho ho ho , we ' re arou...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\nthis deal is to ...          0

In [15]:
# We can group the data by label
df.groupby('label').describe()

      label_num
          count mean  std  min  25%  50%  75%  max
label
ham      3672.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam     1499.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [10]:
inputs = df.drop(['label'], axis = 'columns')

In [16]:
inputs.head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\nth...          0
1  Subject: hpl nom for january 9 , 2001\n( see a...          0
2  Subject: neon retreat\nho ho ho , we ' re arou...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\nthis deal is to ...          0

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.text,df.label_num,test_size = 0.2)

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
v = CountVectorizer()

In [32]:
X_train_count = v.fit_transform(X_train.values)

In [37]:
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB()

In [56]:
# Now we want to predict the email is ham or spam
emails = {
    'Hi Asif, can we get together to watch footbal game tomorrow',
    'Upto 50 % discount are there'
}
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [57]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9758454106280193

In [60]:
# We can use the pipeline inorder to redict the result
from sklearn.pipeline import Pipeline

In [61]:
clf = Pipeline([
    ('vectorizer', CountVectorizer()), 
    ('nb', MultinomialNB())
])

In [62]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [ ]:
clf.score()